<div id="batchModal" class="custom-modal" aria-hidden="true" role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDesc">
    <div class="custom-modal-backdrop"></div>
    <div class="custom-modal-content" role="document">
        <button class="custom-modal-close-button" aria-label="Close modal">&times;</button>
        <h2 id="modalTitle" class="custom-modal-title">Batch Information</h2>
        <div id="modalDesc" class="custom-modal-body">
            <div class="custom-modal-row">
                <span class="custom-modal-label">Batch Number:</span>
                <span id="modalBatchNumber" class="custom-modal-value"></span>
            </div>
            <div class="custom-modal-row">
                <span class="custom-modal-label">Manufactured Date:</span>
                <span id="modalManufacturedDate" class="custom-modal-value"></span>
            </div>
            <div class="custom-modal-row">
                <span class="custom-modal-label">Manufactured Location:</span>
                <span id="modalManufacturedLocation" class="custom-modal-value"></span>
            </div>
            <div class="custom-modal-row">
                <span class="custom-modal-label">Creatine Content:</span>
                <span id="modalCreatineContent" class="custom-modal-value"></span>
            </div>
        </div>
    </div>
</div>
